.teamCt {
    /*margin: 20px 0px 20px 0px;*/
    /*box-shadow: 0px 0px 10px 10px rgba(68,68,68,0.7);*/
    /*background-image: url('../texture/woodbars.jpeg');*/
    background-color: #e9ecef;
    border-radius: .3rem;
    min-height: 3rem;
    margin: 10px;
}

.teamCtTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.teamCtTop > div {
    width: 100%;
}

.teamplayer {
    font-size: 24px;
}

.timewatch {
    font-size: 64px;
    font-family: AlarmClock;
}

.active {
    color: red;
}

.inactive {
    opacity: 0.5;
}

.hitfiguresCt img {
    height: 50px;
    width: 50px;
}